@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

h1{
    text-align: center;
    font-size: 4rem;
    font-family: 'Fascinate', cursive;
}

main{
    display: flex;
    justify-content: space-around;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

input{
    margin-top: 3rem;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Fascinate', cursive;
}

#results{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#result{
    background: #00AEE0;
}